# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env
.env
.env.*
!.env.example

# Build
dist/
build/

# Prisma
backend/**/prisma/migrations/
backend/**/node_modules/.prisma/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
